<div class="container">
	<!--Jumbotron-->
	<div class="jumbotron text-center bg-secondary text-white">
		<h1 class="display-4" id="app-title">Build A Burger </h1>
		<p class="lead">Welcome to Build A Burger.</p>
	</div>


	<div class="row">
		<div class="col-md-6">
			<div class="card border border-secondary">
				<div class="card-header bg-secondary text-white">
					<h1>Ready to Eat Burger</h1>
					<ul class="list-group text-dark">
						{{#each burger}}
						{{#unless this.devoured}}
						<li class="list-group-item">
							<div class="input-group">
								<p class="lead">{{this.burger_name}}</p>
								<span class="input-group-btn">

									<form action="burger/update/{{this.id}}?_method=PUT" method="POST">
										<input type="hidden" name="devoured" value="true">
										<button class="btn btn-default btn-sm" type="submit">Devour it!</button>
									</form>
								</span>
							</div>
						</li>
						{{/unless}}
						{{/each}}
					</ul>

				</div>
			</div>
		</div>


		<div class="col-md-6">
			<div class="card border border-secondary">
				<div class="card-header bg-secondary text-white">
					<h1>Devoured Burgers</h1>
					<div class="panel panel-default">
						<ul class="list-group text-dark">
							{{#each burger}}
							{{#if this.devoured}}
							<li class="list-group-item">
								<p class="lead">{{this.burger_name}}</p>
							</li>
							{{/if}}
							{{/each}}
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
		<br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="card border border-secondary">
					<div class="card-header bg-secondary text-white">
						<h1>Can I take your order? </h1>
					</div>
					<!--Create/add burger form-->
					<div class="card-body">
						<form class="create-form">
							<div class="form-group">
								<label for="burger">Place order here:</label>
								<input type="text" class="form-control" id="burgerToGo" placeholder="">
							</div>
							<button class="btn btn-secondary" type="submit">Place order</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>