.jumbotron {
  background-image: url("../img/burger.js");
  background-repeat: no-repeat;
 
}
#newburger {
  color: #5c5c5c;
}
#leftside {
  background-color: #5c5c5c;
  color: white;
  text-align: center;
  font-size: 1.3em;
}
#rightside {
  background-color: #5c5c5c;
  color: white;
  text-align: center;
  font-size: 1.3em;
}