  
body{
	background-color: grey;
	text-align: center;
	height: 100%;
    background-image: url(public\assets\img\burger.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(226, 222, 222);
    background-blend-mode: luminosity;
}

.jumbotron{
	background-color: grey;
	
}

h1{
	font-size: 18px;
}